{% extends "base.html.twig" %}
{% block content %}
    <body>

        <div class="container">
            <p>
                <form method="post" class="contact-form">
                    <input type="text" class="form-control" name="cerca" placeholder="meme"><br>
                    <input type="submit" class="form-control" name="invio" style="background: #FF7E7E;">
                </form>
            </p>
            
            {% for d in dati %}
                <img src="{{ d.embed }}">
                {{ d.title }}
                {{ d.username }} 
                <br><br><br>
            {% endfor %}
        </div>

    </body>
{% endblock %}