{% extends "base.html.twig" %}
{% block content %}
    <body>

        <p>
            <form method="post">
                <input type="text" name="cerca">
                <input type="submit" name="invio">
            </form>
        </p>
        
        {% for elements in body %}
                {{ body.elements }}
        {% endfor %}
    </body>
{% endblock %}