{% extends "base.html.twig" %}
{% block content %}
    <body>

        <p>
            <form method="post">
                <input type="text" name="cerca">
                <input type="submit" name="invio">
            </form>
        </p>
        
        {% for i in 0..49 %}
            {{ img }}
        {% endfor %}

    </body>
{% endblock %}